<app-nav></app-nav>
<div class="container">
  <div class="row">
    <div class=" card">
      <div class="card-body">
        <h1>ventas works! </h1>
        <span>{{formProductos.value | json }}</span>
        <form [formGroup]="formProductos" class="row g-3" (ngSubmit)="crearProducto()">

          <div class="col-md-6">
            <label for="idProducto" class="form-label">Id Producto</label>
            <input formControlName="idProducto" type="text" class="form-control" id="idProducto">
            <div class="alert alert-danger mt-2" [hidden]="idProducto.valid || idProducto.pristine">
              El código es obligatorio
            </div>
          </div>
          <div class="col-md-6">
            <label for="idCliente" class="form-label">Id Cliente</label>
            <input formControlName="idCliente" type="text" class="form-control" id="idCliente">
            <div class="alert alert-danger mt-2" [hidden]="idCliente.valid || idCliente.pristine">
              El id Cliente es obligatorio
            </div>
          </div>

          <div class="col-md-6">
            <label for="nombreProducto" class="form-label">Nombre del Producto</label>
            <input formControlName="nombreProducto" type="text" class="form-control" id="nombreProducto">
            <div class="alert alert-danger mt-2" [hidden]="nombreProducto.valid || nombreProducto.pristine">
              El nombre del producto es obligatorio
            </div>
          </div>
          <div class="col-md-6">
            <label for="precio" class="form-label">Precio</label>
            <input formControlName="precio" type="text" class="form-control" id="precio">
            <div class="alert alert-danger mt-2" [hidden]="precio.valid || precio.pristine">
              El precio es obligatorio
            </div>
          </div>


          <div class="col-md-6">
            <label for="fechaCompra" class="form-label">Fecha Compra</label>
            <input formControlName="fechaCompra" type="text" class="form-control" id="fechaCompra">
            <div class="alert alert-danger mt-2" [hidden]="fechaCompra.valid || fechaCompra.pristine">
              La fecha de compra es obligatoria
            </div>
          </div>
          <div class="col-md-6">
            <label for="estadoProducto" class="form-label">Estado Producto</label>
            <input formControlName="estadoProducto" type="text" class="form-control" id="estadoProducto">
            <div class="alert alert-danger mt-2" [hidden]="estadoProducto.valid || estadoProducto.pristine">
              El estado del producto es obligatoria
            </div>
          </div>


          <div class="d-grid gap-3 col-6 mx-auto">
            <button class="btn btn-primary"> Crear Producto</button>
          </div>

        </form>

      </div>
    </div>

  </div>
</div>