<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class=" card">
            <div class="card-body">
                <h1>Importación</h1>
                <form [formGroup]="formImportaciones" class="row g-3" (ngSubmit)="crearImportacion()">
                    <div class="col-md-6">
                        <label for="idUsuario" class="form-label">Id de usuario</label>
                        <input formControlName="idUsuario" type="text" class="form-control" id="idUsuario">
                        <div class="alert alert-danger mt-2" [hidden]="idUsuario.valid || idUsuario.pristine">
                            El id del usuario es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="idProducto" class="form-label">Id producto</label>
                        <input formControlName="idProducto" type="text" class="form-control" id="idProducto">
                        <div class="alert alert-danger mt-2" [hidden]="idProducto.valid || idProducto.pristine">
                            El idProducto es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="idVenta" class="form-label">Id venta</label>
                        <input formControlName="idVenta" type="text" class="form-control" id="idUidVentasuario">
                        <div class="alert alert-danger mt-2" [hidden]="idVenta.valid || idVenta.pristine">
                            El id de la venta es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="estado" class="form-label">Estado</label>
                        <input formControlName="estado" type="text" class="form-control" id="estado">
                        <div class="alert alert-danger mt-2" [hidden]="estado.valid || estado.pristine">
                            El estado es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input formControlName="fecha" type="text" class="form-control" id="fecha">
                        <div class="alert alert-danger mt-2" [hidden]="fecha.valid || fecha.pristine">
                            El fecha es obligatoria.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input formControlName="cantidad" type="text" class="form-control" id="cantidad">
                        <div class="alert alert-danger mt-2" [hidden]="cantidad.valid || cantidad.pristine">
                            El cantidad es obligatoria.
                        </div>
                    </div>
                    <div class="d-grid gap-3 col-6 mx-auto">
                        <button class="btn btn-primary" [disabled]="formImportaciones.invalid"> Crear
                            importacion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>